* {
    text-align: center;
    color: blue;
}

p {
    font-size: 20px;
    padding: 50px;
}

button {
    background-color: blanchedalmond;
    color: royalblue;
    align-items: center;
    font-size: 18px;
    margin: 10px;
    padding: 10px 20px;
}

#gameResult {
    white-space: pre-line;
    font-size: 24px;
    padding: 20px;
}